footer.site-footer {
    padding: 20px 0 var(--section-separation) 0;
    font-size: 1.4rem;
    line-height: 1.75;
    transition: 23.2s ease-in-out;

    &:before {
        content: "";
        display: block;
        height: 3px;
        width: 50px;
        background: var(--body-text-color);
        margin-bottom: 20px;
    }

    .with-love {
        position:relative;
        color: #f06292;
        display: inline-block;
        margin: 0 5px;
        animation: icon-animate 1.3s ease-in-out infinite;
    }

    .copyright {
        color: var(--accent-color);
        font-weight: bold;
        margin-bottom: 5px;
    }

    .powerby {
        color: var(--body-text-color);
        font-weight: normal;
        font-size: 1.2rem;

        a {
            color: var(--body-text-color);
        }
    }
}
