/* Place your custom SCSS in HUGO_SITE_FOLDER/assets/scss/custom.scss */

// 亮色主题颜色更改
:root {
  --body-background: #D8AE92;
  --body-text-color: #00008B;
  --accent-color: #c1328e;
  --accent-color-text: #FF00FF;
}

:root {
  --card-background: #fddea5;
  --card-text-color-main: #0d0015;
  --card-text-color-secondary: #FF1493;
  --card-text-color-tertiary: #000000;
  --card-padding: 10px;
}

// 代码样式更改
[data-scheme=light] {
  --pre-background-color: #e0e0e0;
}

// 添加 copy button
.highlight-copy-btn {
  position: absolute;
  top: 7px;
  right: 7px;
  border: 0;
  border-radius: 4px;
  padding: 1px;
  font-size: 0.8em;
  line-height: 1.8;
  color: #fff;
  background-color: #777;
  min-width: 55px;
  text-align: center;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.highlight-copy-btn:hover {
  opacity: 1;
  // background-color: #666;
}


// notice.html 的样式表
.notice {
  position:relative;
  padding: 1em 1em 1em 2.5em;
  margin-bottom: 1em;
  border-radius: 4px;
  p:last-child {
      margin-bottom: 0;
  }
  .notice-title {
      position: absolute;
      left: 0.8em;
      .notice-icon {
          width: 1.2em;
          height: 1.2em;
      }
  }
  &.notice-warning {
      background: hsla(0, 65%, 65%, 0.15);
      border-left: 5px solid hsl(0, 65%, 65%);
      .notice-title {
          color: hsl(0, 65%, 65%);
      }
  }
  &.notice-info {
      background: hsla(30, 80%, 70%, 0.15);
      border-left: 5px solid hsl(30, 80%, 70%);
      .notice-title {
          color: hsl(30, 80%, 70%);
      }
  }
  &.notice-note {
      background: hsla(200, 65%, 65%, 0.15);
      border-left: 5px solid hsl(200, 65%, 65%);
      .notice-title {
          color: hsl(200, 65%, 65%);
      }
  }
  &.notice-tip {
      background: hsla(140, 65%, 65%, 0.15);
      border-left: 5px solid hsl(140, 65%, 65%);
      .notice-title {
          color: hsl(140, 65%, 65%);
      }
  }
}

// github.html 的样式表
.github {
    border: 2px solid #00FA9A;
    border-radius: 3px;
    margin: 0 auto;
    margin-bottom: 1em;
    padding: 1em;
    .github-icon {
        width: 1.2em;
        height: 1.2em;
        margin-right: 0.5em;
        margin-bottom: 0.2em;
        fill: #EEAD0E;
        transition: all .5s;
    }
    .name {
        font-weight: bold;
        color: #FF4500;
        text-decoration: none;
    }
    .description {
        margin-top: 0.5em;
        margin-bottom: 1em;
        color: #bf242a;
        text-align: justify;
        font-size: 90%;
        transition: all .5s;
    }
    .language-color {
        position: relative;
        top: 1px;
        display: inline-block;
        width: 0.75em;
        height: 0.75em;
        border-radius: 50%;
    }
    .language-name {
        color: #EEAD0E;
        font-size: 90%;
        margin-left: 0.5em;
        transition: all .5s;
    }
}






// amazon.html 的样式表
.amazon-widget {
    margin: 2rem 0;
    max-width: 480px;
    position: relative;
}
.amazon-widget a {
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
}
.amazon-widget-img {
    border: 3px solid #00a3af;
    border-radius: 15px 15px 0 0;
    text-align: center;
    background-color: #b8d200;
 }
.amazon-widget-img img {
    border: none;
    margin: 0 auto;
    max-height: 200px;
    padding: 16px;
}
.amazon-widget-info {
    border-right: 3px solid #00a3af;
    border-bottom: 3px solid #00a3af;
    border-left: 3px solid #00a3af;
    padding:5px 10px 10px 10px;
    border-radius:0 0 15px 20px;
    background-color: #b8d200;
}
.amazon-widget:hover .amazon-widget-info {
    background-color: #E1E8ED;
}
.amazon-widget-title {
    font-weight: bold;
    display:block;
}
.amazon-widget-via {
    color: #aaa;
}
.amazon-widget-via img {
    border: none;
    width: 18px;
    height: 18px;
    margin: 0;
    padding: 0;
    display: inline;
    vertical-align: text-bottom;
}

// collapse.html 的样式表
.custom-details {
    display: block;
    position: relative;
    border-radius: 10px;
    margin: 0.5em 0px;
    padding: 1em;
    background-color: black;
    color: white;
    font-size: 16px;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-weight: 400;
    letter-spacing: normal;
    orphans: 2;
    text-align: start;
    text-indent: 0px;
    text-transform: none;
    white-space: normal;
    widows: 2;
    word-spacing: 0px;
    -webkit-text-stroke-width: 0px;
    text-decoration-thickness: initial;
    text-decoration-style: initial;
    text-decoration-color: initial;
}

.custom-pre {
  white-space:pre-line;
  font-size: 18px;
  line-height: 30px;
  color: white;
  border: 2px solid;
  border-radius: 10px;
}

// mark.html 的样式表
mark{
    background: #00FFFF;
}

/*鼠标样式开始*/
/*鼠标指针样式*/
body{
    cursor:url(https://cdn.custom-cursor.com/db/18924/32/glitter-ocean-cursor.png),default;}
/*鼠标链接指针样式*/
a:hover{
    cursor:url(https://cdn.custom-cursor.com/db/18923/32/glitter-ocean-pointer.png),pointer;}
/*鼠标样式结束*/


// 友情链接双列显示
@media (min-width: 1024px) {
  .article-list--compact.links {
      display: grid;
      grid-template-columns: 1fr 1fr;
      background: none;
      box-shadow: none;
      
      article {
          background: var(--card-background);
          border: none;
          box-shadow: var(--shadow-l2);
          margin-bottom: 8px;
          border-radius: 10px;
          &:nth-child(odd) {
              margin-right: 8px;
          }
      }
  }
}


// 返回顶部按钮的样式
$hover: 0.05s cubic-bezier(0.17,0.86,0.73,0.14);
#back-to-top {
    bottom: -50px;
    right: 2px;
    display: none;
    position: absolute;  
    border: 0;
    transition: transform $hover;
    &:hover {
      transform: translateY(-10px);
    }
}



// 标签面板样式表
.tab {
  position: relative;
  padding: 0.5rem 0;
  margin: 2rem 0;

  &__links {
    height: 30px;
    border-top-left-radius: 0.25rem;
  }

  &__link {
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 13.8px;
    text-transform: capitalize;
    padding: 0.5rem 0.75rem;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    
    &.active {
      background-color: themed('body-background-color');
      border: 1px solid themed('hr-color');
      border-bottom: none;
    }
  }

  &__content {
    display: none;
    padding: 0 0.5rem;
    border-radius: 0.25rem;
    border-top-left-radius: 0;
  }
}

